<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body class="auth-container">
                <div class="langl">
          <select id="language-select">
            <option value="en" <%= lang === 'en' ? 'selected' : '' %>>English</option>
            <option value="es" <%= lang === 'es' ? 'selected' : '' %>>Español</option>
            <option value="fr" <%= lang === 'fr' ? 'selected' : '' %>>Français</option>
            <option value="zh" <%= lang === 'zh' ? 'selected' : '' %>>中文</option>
            <option value="ja" <%= lang === 'ja' ? 'selected' : '' %>>日本語</option>
          </select>
        </div>
    <div class="login-container">
      <h1><%= t("register.title") %></h1>

      <% if (typeof error !== 'undefined' && error) { %>
      <div class="alert error"><%= error %></div>
      <% } %>
      
      <form action="/auth/register" method="POST">
        <div class="form-group">
          <label><%= t("register.fullName") %></label>
          <input
            type="text"
            name="name"
            value="<%= formData?.name || '' %>"
            placeholder="John Cooked"
            required
          />
        </div>

        <div class="form-group">
          <label><%= t("register.email") %></label>
          <input
            type="email"
            name="email"
            value="<%= formData?.email || '' %>"
            placeholder="example@domain.com"
            required
          />
          <small class="form-hint"><%= t("register.emailHint") %></small>
        </div>

        <div class="form-group">
          <label>Password </label>
          <input type="password" name="password" minlength="8" required />
          <small class="form-hint"><%= t("register.passwordHint") %></small>
        </div>
        <div class="submit-button">
          <button type="submit" class="login_button"><%= t("register.registerButton") %></button>
        </div>
        
      </form>
      <div class="goHome">
        <p><a href="/"><%= t("login.home") %></a></p>
        <p><%= t("register.haveAccount") %> <a href="/auth/login"><%= t("register.loginHere") %></a></p>
        </div>
      

    </div>
        <script>
  document.getElementById('language-select').addEventListener('change', function () {
    const params = new URLSearchParams(window.location.search);
    params.set('lang', this.value);
    window.location.search = params.toString();
  });
</script>
  </body>
</html>
